@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #97feed;

  background-color: #071952;
  background-image: linear-gradient(#97feed17 1px, transparent 1px),
    linear-gradient(to right, #97feed17 1px, #071952 1px);
  background-size: 20px 20px;
}

nav {
  padding: 2rem 4rem;
  width: 800px;
  border-left: 2px solid #97feed;
  border-bottom: 2px solid #97feed;
}

nav > ul {
  position: fixed;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 48px;
  font-weight: bold;
  font-size: larger;
  font-size: 28px;
}

section {
  display: flex;
  flex-grow: 1;
}

.photo-item {
  width: 300px;
  border-radius: 8px;
  border: 2px solid #97feed;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-grow: 1;
  justify-content: space-between;
  border-left: 2px solid #97feed;
  border-right: 2px solid #97feed;
}

.photo-container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 24px;
}

.content-description {
  padding: 2rem;
  flex-grow: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content-item > h1 {
  font-size: 64px;
  text-decoration: underline;
  margin-bottom: 24px;
}
.content-item > p {
  font-size: 24px;
  line-height: 1.5;
}

.reach-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reach-item {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

header {
  padding: 2rem 0;
  border: 2px solid #97feed;
}

footer {
  text-align: center;
  padding: 2rem;
  border-top: 2px solid #97feed;
  border-bottom: 2px solid #97feed;
}

ul > li {
  padding: 0 8px;
}

.active {
  border: 2px dashed #97feed;
}

a {
  text-decoration: none;
  color: #97feed;
}

footer > p {
  font-weight: lighter;
  font-style: italic;
}

header > h1 {
  font-size: 48px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  header > h1 {
    font-size: 32px;
  }

  .content-item > h1 {
    font-size: 40px;
  }

  .content-item > p {
    font-size: 20px;
  }

  .reach-item {
    font-size: 20px;
  }
  
  nav {
    width: 600px;
  }

  nav > ul {
    font-size: larger;
  }

  footer {
    font-size: 12px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  header > h1 {
    font-size: 32px;
    text-align: center;
  }

  section {
    flex-direction: column;
  }

  .content {
    padding: 0 2rem;
  }

  nav {
    width: 100%;
    padding: 20px;
    border-right: 2px solid #97feed;
  }

  .content-item > h1 {
    font-size: 40px;
    text-align: center;
  }

  .content-item > p {
    font-size: 18px;
  }

  .photo-item {
    width: 100%;
  }

  .reach-container {
    justify-content: center;
    align-items: center;
  }

  .reach-item {
    font-size: 18px;
  }
  
  .photo-container {
    justify-content: center;
  }

  nav > ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    font-size: larger;
    white-space: nowrap;
    list-style-type: none;
    gap: 0;
  }

  footer {
    font-size: 12px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  header > h1 {
    font-size: 28px;
    text-align: center;
  }

  section {
    flex-direction: column;
  }

  .content {
    padding: 0 2rem;
  }

  nav {
    width: 100%;
    padding: 20px;
    border-right: 2px solid #97feed;
  }

  .content-item > h1 {
    font-size: 40px;
    text-align: center;
  }

  .content-item > p {
    font-size: 18px;
  }

  .photo-item {
    width: 80%;
  }

  .reach-container {
    justify-content: center;
    align-items: center;
  }

  .reach-item {
    font-size: 18px;
  }
  
  .photo-container {
    justify-content: center;
  }

  nav > ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    font-size: medium;
    white-space: nowrap;
    list-style-type: none;
    gap: 0;
  }

  footer {
    font-size: 12px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  header > h1 {
    font-size: 28px;
    text-align: center;
  }

  section {
    flex-direction: column;
  }

  nav {
    width: 100%;
    padding: 20px;
    border-right: 2px solid #97feed;
  }

  .content-item > h1 {
    font-size: 32px;
    text-align: center;
  }

  .content-item > p {
    font-size: 14px;
  }

  .photo-item {
    width: 200px;
  }

  .reach-container {
    justify-content: center;
    align-items: center;
  }

  .reach-item {
    font-size: 18px;
  }
  
  .photo-container {
    justify-content: center;
  }

  nav > ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    font-size: medium;
    white-space: nowrap;
    list-style-type: none;
    gap: 0;
  }

  footer {
    font-size: 12px;
    padding: 1rem;
  }
}

